@tailwind base;

@tailwind components;

@tailwind utilities;

--accent-gradient: linear-gradient(79.13deg, #f18209 0%, #f19409 101.79%);

html {
  font-size: 17px;
  @apply text-navy-500;
}

h1 {
  @apply text-5xl font-black;
}

h2 {
  @apply text-3xl font-black;
}

h3 {
  @apply text-xl font-bold;
}

h4 {
  @apply text-lg font-bold;
}

h5 {
  @apply font-bold;
}

input {
  @apply block bg-gray-200 rounded px-4 py-2;
}

textarea {
  @apply block bg-gray-200 rounded px-4 py-2 h-24;
}

label {
  @apply block pt-4 pb-2;
}

.btn {
  @apply py-2 px-4 bg-navy-500 text-white text-center;
  min-width: 8rem;
}

.btn-light {
  @apply bg-white text-navy-500;
}

.btn-accent {
  @apply text-white;
  background: var(--accent-gradient);
}

.bg-gradient-foxtrot {
  background: var(--accent-gradient);
}

.h-1\/2 {
  min-height: 50%;
  max-height: 50%;
}

.bg-orange-fadetoleft {
  background: linear-gradient(
    to left,
    rgba(254, 240, 225, 1) 10%,
    rgba(254, 240, 225, 0) 100%
  );
}

.testimonial-enter {
  transform: translateX(-125%);
  opacity: 0;
  width: 0;
  max-height: 0 !important;
  overflow: hidden;
  visibility: hidden;
}

.testimonial-enter-active,
.testimonial-enter-done {
  transition: opacity 0.2s 0.1s, width 0.1s, max-height 0.1s 0.1s,
    transform 0.2s 0.1s;
  opacity: 1;
  overflow: hidden;
  max-height: 750px;
  visibility: visible;
}

.testimonial-exit {
  opacity: 1;
  overflow: hidden;
  max-height: 750px;
}

.testimonial-exit-active,
.testimonial-exit-done {
  transition: opacity 0.3s, transform 0.2s 0.1s, width 0.1s 0.2s,
    max-height 0.1s 0.15s;
  transform: translateX(-125%);
  opacity: 0;
  width: 0;
  max-height: 0;
}

.header {
  height: 400px;
}

@screen md {
  .header {
    height: 450px;
  }
}

@screen lg {
  .header {
    height: 500px;
  }
}

@screen xl {
  .header {
    height: 550px;
  }
}
