@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --accent-gradient: linear-gradient(79.13deg, #f18209 0%, #f19409 101.79%);
}

html {
  font-size: 17px;
  @apply text-navy-500;
}

h1 {
  @apply text-5xl font-black my-6;
}

h2 {
  @apply text-3xl font-black my-4;
}

h3 {
  @apply text-xl font-bold my-4;
}

h4 {
  @apply text-lg font-bold my-4;
}

h5 {
  @apply font-bold my-4;
}

input {
  @apply block bg-gray-200 rounded px-4 py-2;
}

textarea {
  @apply block bg-gray-200 rounded px-4 py-2 h-24;
}

label {
  @apply block pt-4 pb-2;
}

ul {
  @apply list-disc ml-5 my-4;
}

li {
  @apply my-2;
}

p {
  @apply my-4;
}

.btn {
  @apply py-2 px-4 bg-navy-500 text-white text-center;
  min-width: 8rem;
}

.btn-light {
  @apply bg-white text-navy-500;
}

.btn-accent {
  @apply text-white;
  background: var(--accent-gradient);
}

.bg-gradient-foxtrot {
  background: var(--accent-gradient);
}

.h-1\/2 {
  min-height: 50%;
  max-height: 50%;
}

.bg-orange-fadetoleft {
  background: linear-gradient(
    to left,
    rgba(254, 240, 225, 1) 10%,
    rgba(254, 240, 225, 0) 100%
  );
}

.testimonial-enter {
  transform: translateX(-125%);
  opacity: 0;
  width: 0;
  max-height: 0 !important;
  overflow: hidden;
  visibility: hidden;
}

.testimonial-enter-active,
.testimonial-enter-done {
  transition: opacity 0.2s 0.1s, width 0.1s, max-height 0.1s 0.1s,
    transform 0.2s 0.1s;
  opacity: 1;
  overflow: hidden;
  max-height: 750px;
  visibility: visible;
}

.testimonial-exit {
  opacity: 1;
  overflow: hidden;
  max-height: 750px;
}

.testimonial-exit-active,
.testimonial-exit-done {
  transition: opacity 0.3s, transform 0.2s 0.1s, width 0.1s 0.2s,
    max-height 0.1s 0.15s;
  transform: translateX(-125%);
  opacity: 0;
  width: 0;
  max-height: 0;
}

.header {
  height: 325px;
}
@screen md {
  .header {
    height: 400px;
  }
}
@screen lg {
  .header {
    height: 575px;
  }
}
@screen xl {
  .header {
    height: 550px;
  }
}

.header-sm {
  height: 250px;
}
@screen lg {
  .header-sm {
    height: 350px;
  }
}
@screen xl {
  .header-sm {
    height: 400px;
  }
}

.container-sm {
  width: 100%;
  max-width: 580px;
}

.subheading {
  @apply block uppercase tracking-wider text-gray-500 text-sm font-bold;
}

@responsive {
  .cols-1 {
    columns: 1;
  }
  .cols-2 {
    columns: 2;
  }
  .cols-3 {
    columns: 3;
  }
}

.col-gap-0 {
  column-gap: 0;
}
.col-gap-1 {
  column-gap: 1rem;
}
.col-gap-2 {
  column-gap: 2rem;
}
.col-gap-3 {
  column-gap: 3rem;
}
